html{
    background-color: #D2E4E3;
}


nav{
    height: 100px;
    background-color: #A3C4BC;
    
}


footer{
    
    margin-top: 20px;
    height: 100px;
    background-color: #A3C4BC;
}


/*oldalak*/

#receptek{
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    height: 200px;
    width:200px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center 
}
#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 500;
}
#menutervezo{

    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    height: 200px;
    width:200px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 500;
}
/*.oldalak{

}
*/