body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


nav{
    height: 500px;
    background-image: url("../imgs/desktop_nav.jpg");
    
}


footer{
    
    margin-top: 20px;
    height: 100px;
    background-color: #A3C4BC;
}


/*oldalak*/

#receptek{
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 150px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center 
    
}
#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 500;
}
#menutervezo{
    float: right;
    margin-right: 150px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 500;
}
.oldalak{
    display: flex;
    display: inline-block;
    margin: 0 auto 0 auto;

}

