body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/desktop_nav85opacity.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;

    
}



nav{
    height: 500px;
    




    
}
#navTxt{
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
    
}

footer{

}


/*oldalak*/

#receptek{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 150px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center ;

    
}
#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
#menutervezo{
    float: right;
    margin-right: 150px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
.oldalak{
    display: flex;
    display: inline-block;
    margin: 0 auto 0 auto;

}

