body{
    margin: 0;
    padding: 0;
}
/* footer */
footer{
    height: 300px;
    width: 100%;
}

#footerFelso{
    display: block;
    background-color: #6C9995;
    height: 80%;
}
#footerAlso{
    display: block;
    height: 20%;
}

#logo{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#logoImg{
    height: 100%;
    width: 100%;
}   


#footerAlso{
    display: flex;
    background-color: #8C8C8C;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    color: white;
}