body{
    margin: 0;
    padding: 0;
}
/* footer */
footer{
    height: 300px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
}

#footerFelso{
    display: block;
    background-color: #6C9995;
    height: 80%;
    width: 100%;
}

#footerAlso{
    display: block;
    height: 20%;
}

#logo{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#logoImg{
    height: 100%;
    width: 100%;
}   
#socialmedia{
    height: 100%;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
#socialmedia img{
    height: 25%;
}
#jobboldal{
    display: inline-block;
    right: 0;
    height: 100%;
}
#kapcsolat{
    height: 70%;
    width: 100%;
}
#hirlevel{
    height: 30%;
    width: 100%;
    display: inline-block;
}
input{
    width: 60%;
    height: 40%;
}

#footerAlso{
    display: flex;
    background-color: #8C8C8C;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}