/* footer */
footer{
    height: 400px;
    width: 100%;
}

#footerFelso{
    background-color: #6C9995;
    display: inline;
    height: 70%;
    width: 100%;
}

#logo{
    height: 150px;
    width: 150px;
    
}