html{
    background-color: #D2E4E3;
    color: white;
    font-family:"Inter";
}
body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/receptek_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.teljes_oldal{
  padding-bottom: 100px;
}
/* Fejlec kezdete */
nav{
        height: 110px;
        background-color: #6C9995;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
 
}
#main_logo{
    height: 100px;
    margin-left: 20px;
    
    
}
#kereses{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  border-radius: 25px;
}
#kereses input[type="button"]{
  width: 15%;
  background-position-x: -5px;
  border-radius: 50px;
  height: 2.55rem;
  background-color: #6C9995;
  color: white;

}
#kereses input[type="button"]:hover{
  background-color: #97bbb9;
  color: black;
}
#kereses input[type="text"]{
  border-radius: 50px;
  padding-left: 1.25rem;
  height: 2.25rem;
}
nav p{
    margin-left: 20px;
    font-size: 20px;
    margin-top: -20px;
    
}
.jobb_oldal_nav{
   gap: 30px;
    display: flex;
    
}
.nav_elem{
 margin-top: 30px;
 font-size: 30px;
   
}
.icon{
    height: 80px;
}
/* Fejlec vege */


/* Tartalom kezdete */

.kep{
  margin: 30px;
  height: 500px;
}
.bal_oldal_tartalom{
  width: 800px;
}
.container {
  display: flex;
  height: 100vh; /* teljes képernyő magasság */
}

.left {
  width: 100%;
  
}
.left h1{
  background-color: white;
  color: #6C9995;
  font-weight: bold;
  width: 50%;
  padding-left: 30px;
  margin-bottom: 0px;
  
}

/* Elkeszites resz kezdete  */
.right {
  width:100%;
  margin-right: 50px;
  background-color: #6C9995;
  border-radius: 10px;
  margin-top: 90px;
  height: 110%;
}
.right h1{
  color: #6C9995;
  padding-left: 30px;
  background-color: white;
  width: 50%;

}
.right li{
  padding: 10px;
  font-size: 25px;
}


/* Hozzavalok rész */
.hozzavalok{
  margin-left: 40px;
  background-color: #6C9995;
  width: 80%;
  height: auto;
  border-radius: 10px;
  
}
.hozzavalok h1{
  padding-top: 10px;
  padding-left: 30px;
  font-size: 40px;
  width: 30%;
}
.hozzavalok li{
  padding: 5px;
  font-size: 25px;
  
}
/* adag szamlalo */
.counter {
  display: block;
  align-items: center;
  gap: 10px;
  float: right;
  margin-top: -40px;
  font-size: 20px;
  margin-right: 10px;
  
  
}
.counter p{
  margin-bottom: 10px;
  padding-left: 40px;
}

.counter button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #6C9995;
  border: none;
}

#count {
  font-size: 20px;
  width: 30px;
  text-align: center;
}
.counter2{
  display: flex;
  align-items: center;
  gap: 10px;
  float: right;
  
}
.tapanyag_kaloria{
  
  margin: auto;
  width: 600px;
  font-size: 20px;
  background-color: #bdbdbd;
  opacity: 0.8;
  height: 10px;

}
.valami{
  padding-right: 100px;
}
table, td,th{
  text-align: center;
  border-right: 1px solid rgb(150, 150, 150);
  border-collapse: collapse;
}
table,td{
  font-size: 12px;
  
}
.table th:last-of-type,
.table td:last-of-type {
  border-right: none;
}


.spacer2{
  height: 300px;
}

/* Tartalom vége */


/* footer */
footer{
  margin-top: 100px;
  height: 300px;
  width: 100%;
  position: static;
  bottom: 0;
  color: white;
}

#footerFelso{
  display: flex;
  background-color: #6C9995;
  height: 80%;
  width: 100%;
}

#footerAlso{
  height: 20%;
}

#logo{
  padding: 0px 20px;
  height: 100%;
  display: flex;
}
#verticalLine {
  width: 1px;
  height: 80%; 
  background-color: #fff; 
  align-self: center;
}
#logoImg{
  height: 100%;
  width: 100%;
}   
#socialmedia{
  height: 100%;
  width: 40%;
  align-content: center;
  justify-items: center;
}
#imgsRow{
  margin-right: 450px;
  height: 25%;
  display: flex;
}
#jobboldal{
  right: 0;
  height: 100%;
}
#kapcsolat{
  height: 70%;
  width: 100%;
}
#hirlevel{
  height: fit-content;
  width: 100%;
  display: flex;
}
input{
  width: 60%;
  height: 40%;
}

#footerAlso{
  display: flex;
  background-color: #8C8C8C;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
/* footer vége */



