  html{
    background-color: #D2E4E3;
    color: white;
    font-family:"Inter";
}
body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/receptek_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
        height: 110px;
        background-color: #6C9995;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
 
}
#main_logo{
    height: 100px;
    margin-left: 20px;
    
    
}
/* #kereses{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  border-radius: 25px;
}
#kereses input[type="button"]{
  width: 15%;
  background-position-x: -5px;
  border-radius: 50px;
  height: 2.55rem;
  background-color: #6C9995;
  color: white;

}
#kereses input[type="button"]:hover{
  background-color: #97bbb9;
  color: black;
}
#kereses input[type="text"]{
  border-radius: 50px;
  padding-left: 1.25rem;
  height: 2.25rem;
} */


/* Tartalom kezdete */

.ajanlat_tartalom{  
  display: flex;
  /* justify-content: center; */
  justify-content: space-between; /* Egyenletes elosztás a képek között */
  align-items: center; /* Képek igazítása függőlegesen */
  gap: 10px;
  align-items: center;
  min-height: 400px;

}



.left {
  width: 50%;
  
}
.tartalom p{
  text-align: center;
}
.right {
  width: 30%;
  background-color: #6C9995;
  border-radius: 10px;
  margin-top: 20px;
  height: 60%;
}
.right h1{
  padding-left: 30px;

}
.container{
  font-family: "Inter";
  width: 60%;
  margin: auto;
  min-height: 20vh;
  background-image: linear-gradient(#6C9995),(#6C9995),;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  font-family: "Inter";
  width: 100%;
  max-width: 80%;
  display: flex;
  background: #6C9995;
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: white;
  font-size: 40px;
}
::placeholder
{
  color:white;
  opacity: 25%;
}
.search-bar button img{
  width: 50px;

}
.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #6C9995;
}
nav p{
    margin-left: 20px;
    font-size: 20px;
    margin-top: -20px;
    
}
.jobb_oldal_nav{
   gap: 30px;
    display: flex;
    
}
.nav_elem{
 margin-top: 30px;
 font-size: 30px;
   
}
.icon{
    height: 80px;
}





/* Tartalom vége */


/* footer */
footer{
  height: 300px;
  width: 100%;
  position:static;
  bottom: 0;
  color: white;
  margin-top: 250px;
}

#footerFelso{
  display: flex;
  background-color: #6C9995;
  height: 80%;
  width: 100%;
}

#footerAlso{
  height: 20%;
}

#logo{
  padding: 0px 20px;
  height: 100%;
  vertical-align: top;
}
#logoImg{
  height: 100%;
  width: 100%;
}   
#socialmedia{
  height: 100%;
  width: 40%;
  align-items: center;
}
#imgsRow{
  height: 40%;
  display: flex;
  justify-content: space-evenly;  

}
#jobboldal{
  right: 0;
  height: 100%;
}
#kapcsolat{
  height: 70%;
  width: 100%;
}



#hirlevel{
  height: fit-content;
  width: 100%;
  display: flex;
}
input{
  width: 60%;
  height: 40%;
}

#footerAlso{
  display: flex;
  background-color: #8C8C8C;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

/* footer vége */

/* tartalom */
.ajanlat_tartalom>.kep{
  margin: 30px;
  height: 350px;
  width: 500px;
}
.ajanlat_tartalom{
    width: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr); /* Három egyenlő oszlop */
    gap: 20px;
}

.ajanlat{
  color: black;
  font-size: 250%;
  font-weight: 600;
  text-align: center; /* Szöveg vízszintes középre igazítása */
  background-color: #ffffff; /* Háttérszín */
  background-size: auto;
  display: flex; /* Flexbox használata */
  justify-content: center; /* Vízszintes középre igazítás */
  align-items: center; /* Függőleges középre igazítás */
  padding: 10px 20px; /* Szöveg körüli belső margó */
  border-radius: 10px; /* Lekerekített sarkok */
  margin: 0 auto; /* Középre igazítás a szülőelemben */
  width: fit-content; /* Csak a tartalom szélességét vegye figyelembe */


}
.ajanlat_tartalom p{
  color:  black;
  font-size: 250%;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  width: 100%;
  
}
.ajanlat p {
  margin: 0; /* Eltávolítja az alapértelmezett margót */
  line-height: 1.5; /* Szöveg sorainak magassága */
  text-align: center; /* Szöveg középre igazítása */
}
.ajanlat_tartalom a{
  text-decoration: none;
  color: black;
}
#jobb_oldal_leiras{
  float: right;
  margin: auto;
  color: black;
  width: 50%;
  display: flex;

}
.kepLink {
  display: block; /* A hivatkozás blokkszintűvé tétele */
  text-decoration: none; /* Aláhúzás eltávolítása */
  color: inherit; /* Szöveg színének öröklése */
}

.kepLink img {
  display: block; /* Kép blokkszintűvé tétele */
  width: 100%; /* Kép teljes szélességben */
  aspect-ratio: 1/1; /* Négyzetes arány */
  object-fit: cover; /* Kép kitöltése arányosan */
  object-position: center; /* Középre igazítás */
}
.kepLink .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: rgba(108, 153, 149, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ajanlat_tartalom button{
  border: none;
  background: none;
  cursor: pointer;
}
.img-wrapper{
  position: relative;
  overflow: hidden;
  flex: 1; /* Egyenlő szélesség a képek között */
  max-width: 33%; /* A három kép egy sorban legyen */
  text-align: center; /* Igazítás középre */
}
.img-wrapper>img{
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  height: auto;
}
.img-wrapper>.content{
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: #6C9995;

  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper>img,
.img-wrapper>.content{
  transition: transform 200mx ease-in-out;
  color: white;
}
.img-wrapper:hover .content {
  opacity: 1;
  color: white;
}

.img-wrapper:hover>img.blur{
  filter: blur(5px);
}
.content.fade{
  transition: opacity 500ms ease-in-out;
  color: white;
}
.img-wrapper>.content.fade{
  opacity: 0;
}  
.img-wrapper:hover>.content.fade{
  opacity: 0.7;

}


/* tartalom vége */